/* header */
header {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}
.logo img {
  height: 60px;
}

.menu {
  font-size: 14px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.menu-item {
  color: #131D26;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s ease;
  text-align: center;
}
.menu-item:hover,
.menu-item:active {
  color: #d98555;
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", serif;
  font-weight: 400;
  color: #131D26;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #131D26;
}

h1 {
  font-size: 32px;
}

/* index.html */
.home-main {
  background-image: url(images/gulp-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.home-description {
  padding: 100px 100px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;}

.home-description h1 {
  font-size: 80px;
  color: #ffffff;
}

.home-description p {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  line-height: 2;
}

/* about.html */
.about-bg {
  background-color: #131D26;
}
.description-container {
  background-color: #f2f2f2;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
}
.coffee-image {
  width: 50%; 
  display: flex;
  align-items: stretch;
}
.description-container img {
  width: 100%;
  max-width: 100%;
}
.description {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  width: 50%;
  padding: 50px;
}

p a {
  color: #082b59;
}
p a:hover {
  color: #d98555;
}
p {
  font-size: 15px;
  line-height: 2;
}

.button-container {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.button {
  text-decoration: none;
  padding: 15px 30px;
  color: #082b59;
  border: 1px solid #082b59;
  transition: 0.3s ease;
  font-size: 16px;
}
.button:hover {
  color: #f2f2f2;
  background: #082b59;
  border: 1.5px solid #082b59;
}

.bottom-description {
  display: block;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 80px;
}
.bottom-description img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.bottom-description p {
  font-size: 18px;
}

/* products.html */
.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 0 auto;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: stretch;
  background-color: #f2f2f2;
}

.products img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.coffee-decription {
  flex: 1;
  background-color: #f2f2f2;
  padding: 120px;
}

/* contact.html */
.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 0 auto;
}

.address-info {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

address {
  font-style: normal;
  font-size: 16px;
  line-height: 2;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

address a{
  color: #082b59;
}
address a:hover {
  color: #d98555;
}

.address-info img {
  width: 50%;
  max-width: 1200px;
  height: 520px;
  object-fit: cover;
}

.map {
  width: 100%;
  height: 400px;
}

/* footer */
footer {
  background-color: #f2f2f2;
  height: 80px;
  text-align: center;
  margin-top: auto;
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid #131d26;
}
footer a {
  color: #131d26;
  text-decoration: none;
  margin: 0 10px;
}
footer a:hover {
  color: #082b59;
}
footer a i {
  font-size: 40px;
}

/* Medium Screens (Tablets) */
@media screen and (max-width: 1023px) {
  header {
    padding: 20px 40px;
  }
  .menu {
    gap: 10px;
  }
  .home-main {
    height: 80vh;
  }
  .description-container {
    padding: 20px;
  }
  .description {
    padding: 20px;
  }
  .button-container {
    padding: 10px;
  }
  .bottom-description {
    padding: 20px;
  }
  .bottom-description img {
    width: 300px;
    height: 300px;
  }
  .products {
    grid-template-columns: 1fr 1fr;
  }
  .coffee-decription {
    padding: 60px;
  }
  footer {
    flex-direction: column;
  }
}

/* Small Screens (Phones) */
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
  }
  .logo img {
    align-items: center;
  }
  .menu {
    display: flex;
    gap: 0;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #000000;
    box-sizing: border-box;
  }

  .menu a {
    width: 100%;
    border-bottom: 1px solid #000000;
    padding: 10px;
    box-sizing: border-box;
  }

  .menu a:last-child {
    border-bottom: none;
  }

  .home-description {
    padding: 20px;
  }
  .description-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .description-container div {
    width: 100%;
  }
  
  .coffee-image {
    width: auto;
  }

  .description {
    width: 100%;
  }
  
  p {
    font-size: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .bottom-description img {
    width: 100%;
    max-width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
  }

  .products-container {
    flex-direction: column;
    align-items: center;
  }

  .products {
    grid-template-columns: 1fr;
  }
  .coffee-decription {
    text-align: left;
  }
}